@model IEnumerable<web_projesi.Models.Model.Hizmet>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hizmetler</h2>
<a class="btn btn-info" href="/Hizmet/Create/">Yeni Ekle</a>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Başlık</th>
            <th>Açıklama</th>
            <th>Resim URL</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.HizmetId</td>
                <td>@item.Baslik</td>
                <td>@item.Aciklama</td>
                <td><img src="@item.ResimURL" /></td>
            </tr>
        }
     
       
    </tbody>
</table>

