<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Yazılım Deposu Web Sitemiz</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/Content/SiteLayout/assets/img/favicon.png" rel="icon">
    <link href="/Content/SiteLayout/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/Content/SiteLayout/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/SiteLayout/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="/Content/SiteLayout/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="/Content/SiteLayout/cassets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/Content/SiteLayout/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="/Content/SiteLayout/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/Content/SiteLayout/assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/Content/SiteLayout/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Moderna - v2.1.0
    * Template URL: https://bootstrapmade.com/free-bootstrap-template-corporate-moderna/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->



</head>
<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top header-transparent">
        <div class="container">

            <div class="logo float-left">
                <h1 class="text-light"><a href="index.html"><span>Yazılım Deposu</span></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav class="nav-menu float-right d-none d-lg-block">
                <ul>
                    <li class="active"><a href="/Home/Index/">Ana Sayfa</a></li>
                    <li><a href="/Home/Hakkimizda/">Hakkımızda</a></li>
                    <li><a href="/Home/Hizmetlerimiz/">Hizmetlerimiz</a></li>
                    <li><a href="/Home/Iletisim/">İletişim</a></li> 
                    <li class="drop-down">
                        <a href="">Hackathon</a>
                        <ul>
                            <li><a href="#">Hackathon Konuları</a></li>

                            <li class="drop-down">
                                <a href="#">Hackathon</a>
                                <ul>
                                    <li><a href="#">Hackathon Kazanan Takımı</a></li>


                                </ul>
                            </li>


                        </ul>
                    </li>
                   
                    <li><a href="/Home/Blog/">Blog</a></li>
                    <li class="drop-down">
                                <a href="">Dersler</a>
                                <ul>
                                    <li><a href="#"></a></li>
                                    <li class="drop-down">
                                        <a href="#">Algoritma Programlama</a>
                                        <ul>
                                            <li><a href="#">Ersin Arslan</a></li>
                                            <li><a href="#">Mansur Alp Toçoğlu</a></li>
                                            <li><a href="#">Yusuf Özçevik</a></li>
                                            
                                        </ul>
                                    </li>
                                    <li><a href="#">İleri Web Programlama</a></li>
                                    <li><a href="#">Java</a></li>
                                    <li><a href="#">Derin Öğrenme</a></li>
                                </ul>
                            </li>
                   



                            <li><a href="contact.html">Duyuru Başvuruları</a></li>
                        </ul>
                    </nav><!-- .nav-menu -->

                </div> 
                </ul>
            </nav><!-- .nav-menu -->
            </div>

</header><!-- End Header -->
    @RenderBody();
    <!-- ======= Footer ======= -->
    <footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">

        <div class="footer-newsletter">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h4>Yazılım Deposu</h4>
                        <p>Eğitimci ve öğrencilere elektronik ortamda yardımlaşma imkanı</p>
                    </div>
                    <div class="col-lg-6">
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Menü</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="~/Views/Home/Index.cshtml">Ana Sayfa</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="~/Views/Home/Hakkimizda.cshtml">Hakkımızda</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Hizmetlerimiz</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">İletişim</a></li>                            
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Hackathon</a></li>
                            <ol>
                                <li><i class="bx bx-chevron-right"></i> <a href="#">Hackathon Konuları</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="#">Hackathon Birincileri</a></li>
                            </ol>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Blog</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Dersler</a></li>
                            <ol>
                                <li><i class="bx bx-chevron-right"></i> <a href="#">Algoritma Programlama</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="#">İleri Web Programlama</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="#">Java</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="#">Derin Öğrenme</a></li>
                            </ol>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Hizmetlerimiz</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>Adres</h4>
                        <p>
                            
                            Manisa Celal Bayar Üniversitesi <br>
                            Hasan Ferdi Turgutlu Teknoloji Fakültesi<br>
                            Yazılım Mühendisliği Bölümü<br>
                            Manisa, Turgutlu <br><br>
                            <strong>Telefon:</strong> +1 5589 55488 55<br>
                            <strong>E-mail:</strong> info@example.com<br>
                        </p>

                    </div>

                    <div class="col-lg-3 col-md-6 footer-info">
                        <h3>Hakkımızda</h3>
                        <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
                        @*<div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>*@
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Moderna</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-bootstrap-template-corporate-moderna/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="/Content/SiteLayout/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/Content/SiteLayout/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/Content/SiteLayout/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="/Content/SiteLayout/assets/vendor/php-email-form/validate.js"></script>
    <script src="/Content/SiteLayout/assets/vendor/venobox/venobox.min.js"></script>
    <script src="/Content/SiteLayout/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="/Content/SiteLayout/assets/vendor/counterup/counterup.min.js"></script>
    <script src="/Content/SiteLayout/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="/Content/SiteLayout/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/Content/SiteLayout/assets/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="/Content/SiteLayout/assets/js/main.js"></script>

   @*<script src="~/scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>*@

</body>
</html>