
@{
    ViewBag.Title = "Hackathon";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<body>
    <header id="header" class="fixed-top">
        <div class="container">

            <div class="logo float-left ">
                <h1 class="text-light"><a href="#"><span>Yazılım Deposu</span></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav class="nav-menu float-right d-none d-lg-block">
                <ul>
                    <li><a href="/Home/Index/">Ana Sayfa</a></li>
                    <li><a href="/Home/Hakkimizda/">Hakkımızda</a>
                    <li><a href="/Home/Hizmetlerimiz/">Hizmetlerimiz</a></li>
                    <li><a href="/Home/Iletisim/">İletişim</a></li>
                    <li><a href="/Home/Blog/">Blog</a></li>
                    <li class="active"><a href="/Home/Hackathon/">Hackathon</a></li>
                    <li class="drop-down">
                        <a href="">Dersler</a>
                        <ul>
                            <li><a href="#"></a></li>
                            <li class="drop-down">
                                <a href="#">Algoritma Programlama</a>
                                <ul>
                                    <li><a href="#">Ersin Arslan</a></li>
                                    <li><a href="#">Mansur Alp Toçoğlu</a></li>
                                    <li><a href="#">Yusuf Özçevik</a></li>

                                </ul>
                            </li>
                            <li><a href="#">İleri Web Programlama</a></li>
                            <li><a href="#">Java</a></li>
                            <li><a href="#">Derin Öğrenme</a></li>
                        </ul>
                    </li>




                    <li><a href="/Home/DuyuruBasvuruları/">Duyuru Başvuruları</a></li>
                </ul>
            </nav><!-- .nav-menu -->

        </div>


    </header>

    <main id="main">
        <!-- ======= About Us Section ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>HACKATHON HAKKINDA</h2>
                    <ol>
                        <li><a href="/Home/Index/">AnaSayfa</a></li>
                        <li><a href="/Home/Hackathon/">Hackathon</a></li>
                    </ol>
                </div>

            </div>
        </section><!-- End About Us Section -->

        <section class="features">
            <div class="container">

                <div class="row">
                    <div class="col-lg-9">
                        <img src="~/Uploads/Blog/9e0873ef85e19973b9f42cd114b755e076590dc1 (1000 x 600).jpg" class="img-fluid" alt"">
                    </div>

                </div>

                <div class="section-title">
                    <br />
                    <h2 style="color:#E21C21">Hackathon Nedir?</h2>
                    <p>En basit haliyle bir kodlama yarışmasıdır. “Hack day”, “Hackfest”, “Code fest”, “Code camp” gibi isimlerle de karşımıza çıkabilir. Hackathon genellikle yazılım geliştiricilerinin, arayüz tasarımcılarının ve bilgisayar programcılarının 2-5 kişilik gruplar halinde bir araya gelerek 1-2 gün boyunca çalışarak yeni bir proje geliştirdikleri yarışmadır.</p>

                </div>

                <div class="row" data-aos="fade-up">
                    <div class="col-md-5">
                        <img src="~/Uploads/Blog/drone3-960x640.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 pt-4">
                        <h3 style="color:#E21C21">Hackathon Neden Düzenlenir?</h3>
                        <p class="font-italic">
                            Hackhatkon, sadece ürün geliştirilmesi, şirket tanıtımı veya iş alım için düzenlenmez. Özellikle Facebook Hackathon gibi örneklerinde yalnızca bu amaç yoktur. Bununla beraber teknolojik ürününüzle ilgili farklı bakış açıları kazanabilirsiniz.Facebook, özellikle bu alandaki hackathonları sayesinde birçok özelliğini bu şekilde kazanmıştır.
                        </p>
                        <ul>
                            <li><i class="icofont-check"></i> Ürününüzde yazılım ya da donanım eksiklerini görüp, bu problemleri nasıl çözeceğinizi bu yarışmalarla çözebilirsiniz.</li>
                            <li><i class="icofont-check"></i>  Hackathona katılan takımlardan ürününüzle ilgili belki daha önce düşünmediğiniz fikirler edinebilirsiniz.</li>
                        </ul>
                    </div>
                </div>

                <div class="row" data-aos="fade-up">
                    <div class="col-md-5 order-1 order-md-2">
                        <img src="~/Uploads/Blog/24114.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 pt-5 order-2 order-md-1">
                        <h3 style="color:#E21C21">Hackathon’a Kimler Katılabilir?</h3>
                        <p class="font-italic">
                            Hackathonlara kendini teknoloji alanında geliştirmiş yazılımcılar, software developerlar, arayüz tasarımcıları ve bilgisayar programcıları katılabilir.
                        </p>
                        <p>
                            Hackathonu düzenleyen kurum eğer bir şirket ise, o şirkette çalışma fırsatı yakalamak için düzenledikleri hackathonda kendini göstermek, yetenekler için iyi bir fırsat olacaktır.
                        </p>
                    </div>
                </div>

                <div class="row" data-aos="fade-up">
                    <div class="col-md-5">
                        <img src="~/Uploads/Blog/internet-for-hackatons-1024x480 (960 x 640).jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 pt-0">
                        <h3 style="color:#E21C21">Hackathon'a Neden Katılmalı?</h3>
                        <p class="font-italic">Hackathon'a katılmak için birçok neden olabilir.</p>
                        <ul>
                            <li><i class="icofont-check"></i> Yeni insanlarla tanışırken bir yandan kendini geliştirmek ve yeni şeyler öğrenmek isteyenler bu etkinlikleri kaçırmamalıdır.</li>
                            <li><i class="icofont-check"></i> Yeteneklerin bilgilerini yoğun bir şekilde kullanarak, onların alana hakimiyetini sınarken kendilerini test etme olanağı ve en önemlisi inovatif fikirlerini hayata geçirme imkanı sağlar. </li>
                            <li><i class="icofont-check"></i> Hackathon, en sonunda ise ortaya çıkan projelerle birlikte iş ve staj fırsatlarını da beraberinde getirir.</li>
                            <li><i class="icofont-check"></i> En güzeli de yeteneklere oldukça keyifli ve bir o kadar da yararlı bir deneyim kazandırır.</li>

                        </ul>
                    </div>
                </div>

                <div class="row" data-aos="fade-up">
                    <div class="col-md-5 order-1 order-md-2">
                        <img src="~/Uploads/Blog/hackathon-nedir.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 pt-0 order-2 order-md-1">
                        <h3 style="color:#E21C21">Hackathon’da Bir Gün Nasıl Geçer?</h3>
                        <p class="font-italic">
                            Hackathonlar genellikle hackathon’un konusuyla veya odağıyla ilgili sunumlarla başlar. Daha sonra katılımcılar kişisel ilgi ve becerilerine göre takımlara ayrılırlar. (Eğer siz kendi takımınızı kurup katılmışsanız, aynı takımınızla devam edebilirsiniz.) Daha sonra asıl yarışma başlar. Takımların kendi aralarında verilen görevi tamamlayabilmek için beyin fırtınası yapmaları ve ardından oluşan fikri koda dökmeleri gerekir. Bu ana kısım bazen bir gün bazen ise bir hafta kadar sürebilir. Yarışma süresince hosting firma tarafından katılımcılara yiyecek içecek ve bazı durumlarda uyku tulumları dağıtılır. Süre bitiminde her grubun sonuçlarının jüriye ve diğer katılımcılara sunulduğu bir oturum düzenlenir.
                        </p>

                    </div>
                </div>

                <div class="row" data-aos="fade-up">
                    <div class="col-md-5">
                        <img src="~/Uploads/Blog/regtech.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 pt-4">
                        <h3 style="color:#E21C21">Hackathon Yarışması</h3>
                        <p class="font-italic">
                            Hackathon yarışmalarında firmaların belirlediği miktara göre kazanan ekiplere ödüller dağıtılır. Yarışmada verilecek olan ödüller aşağıdaki gibidir:
                        </p>

                        <ul>
                            <li><i class="icofont-check"></i> Birincilik Ödülü : Henüz belirlenmedi</li>
                            <li><i class="icofont-check"></i> İkincilik Ödülü : Henüz belirlenmedi</li>
                            <li>
                                <i class="icofont-check"></i> Üçüncülük Ödülü : Henüz belirlenmedi

                            </li>
                        </ul>
                    </div>

                    <div class="row" data-aos="fade-up">
                        <div class="col-md-5 order-1 order-md-2">
                            <img src="~/Uploads/Blog/Dg3KelnZ.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="col-md-7 pt-5 order-2 order-md-1">
                            <h3 style="color:#E21C21">Hackathon Türkiye</h3>
                            <p class="font-italic">
                                Hackathon Türkiye ülkemizdeki tüm, dünyadaki online hackathon, makeathon, game jam, ideathon, datathon, designathon vb. etkinlikleri düzenlemeyi ve duyurmayı; hackathon kültürünü herkese öğretmeyi ve yaymayı amaçlayan gönüllü bir topluluktur.
                            </p>
                            <p>
                                Hackathon 2021 yarışmalarına katılmak yada bilgi sahibi olmak için:
                            </p>

                            <a href="https://hackathonturkiye.com/"><i class="icofont-arrow-right"></i>Ayrıntılı Bilgi</a>
                        </div>
                    </div>


                </div>


                <div class="row" data-aos="fade-up">
                    <div class="col-md-5">
                        <img src="~/Uploads/Blog/Gallery-2480-JUSJ301220191522.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 pt-4">
                        <h3 style="color:#E21C21">MCBU YAPILAN HACKATHON ÖRNEKLERİ</h3>
                        <p class="font-italic">
                            Okulumuzda yapılan geçmişteki Hackathon örneklerine öğrenciler ulaşıp fikir sahibi olabilirler.
                        </p>
                        <ul>
                            <li><i class="icofont-check"></i> Uçtan Uca Yapay Zeka Hekatonu:<a href="~/Uploads/Blog/E2EAIHackathonLinkedIn.pdf"><i class="icofont-arrow-right"></i>Ayrıntılı Bilgi</a></li>
                            <li><i class="icofont-check"></i> MIP Hekaton: <a href="https://miphackathon.mcbu.edu.tr/"><i class="icofont-arrow-right"></i>Ayrıntılı Bilgi</a></li>
                        </ul>
                    </div>
                </div>

                <div class="row" data-aos="fade-up">
                    <div class="col-md-5 order-1 order-md-2">
                        <img src="~/Uploads/Blog/openaihackathon-1.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 pt-0 order-2 order-md-1">
                        <h3 style="color:#E21C21">Hackathon'a Katılanların Maceraları</h3>
                        <p class="font-italic">
                            Hackathon'a katılanların deneyimlerini anlattıkları yazılarını bulabilirsiniz.
                        </p>
                        <ul>
                            <li><i class="icofont-check"></i> CodeTheBank - Hackathon Maceraları #1<a href="https://hackathonturkiye.com/blog/codethebank-hackathon-maceralari-1"><i class="icofont-arrow-right"></i>Ayrıntılı Bilgi</a></li>
                            <li><i class="icofont-check"></i> Hack4Humanity - Hackathon Maceraları #2<a href="https://hackathonturkiye.com/blog/hack4humanity-hackathon-maceralari-2"><i class="icofont-arrow-right"></i>Ayrıntılı Bilgi</a> </li>
                            <li><i class="icofont-check"></i> INGHackathon2016 - Hackathon Maceraları #3<a href="https://hackathonturkiye.com/blog/inghackathon2016-hackathon-maceralari-3"><i class="icofont-arrow-right"></i>Ayrıntılı Bilgi</a></li>
                            <li><i class="icofont-check"></i> NodeKnockout - Hackathon Maceraları #4<a href="https://hackathonturkiye.com/blog/nodeknockout-hackathon-maceralari-4"><i class="icofont-arrow-right"></i>Ayrıntılı Bilgi</a></li>
                            <li><i class="icofont-check"></i> INGHackathon2017 - Hackathon Maceraları #5<a href="https://hackathonturkiye.com/blog/inghackathon2017-hackathon-maceralari-5"><i class="icofont-arrow-right"></i>Ayrıntılı Bilgi</a></li>
                            <li><i class="icofont-check"></i> Game4Goals - Hackathon Maceraları #6<a href="https://hackathonturkiye.com/blog/game4goals-hackathon-maceralari-6"><i class="icofont-arrow-right"></i>Ayrıntılı Bilgi</a></li>

                        </ul>
                    </div>
                </div>


                <div class="row" data-aos="fade-up">
                    <div class="col-md-5">
                        <img src="~/Uploads/Blog/6dcafb8fcaf60c99b0f699e272725dac.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 pt-4">
                        <h3 style="color:#E21C21">Hackathon Hakkında Daha Fazlasına Ulaşmak İçin</h3>
                        <p class="font-italic">
                            Dünyada hackathon'a katılanların yazılarını ve projelerdeki örnekleri aşağıdaki linklerde bulabilirsiniz.
                        </p>
                        <ul>
                            <li><i class="icofont-check"></i> Kaggle:<a href="https://www.kaggle.com/search?q=Hackathon"><i class="icofont-arrow-right"></i>Ayrıntılı Bilgi</a></li>
                            <li><i class="icofont-check"></i> Medium:<a href="https://medium.com/search?q=hackathon"><i class="icofont-arrow-right"></i>Ayrıntılı Bilgi</a></li>
                            <li><i class="icofont-check"></i> Github:<a href="https://github.com/search?q=hackathon"><i class="icofont-arrow-right"></i>Ayrıntılı Bilgi</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row" data-aos="fade-up">
                    <div class="col-md-5 order-1 order-md-2">
                        <img src="~/Uploads/Blog/KpEHdqLoAvEQnKt-1600x900-noPad.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 pt-5 order-2 order-md-1">
                        <h3 style="color:#E21C21">Okulumuzda Yapılacak Hackathon Yarışmaları Hakkında</h3>
                        <p class="font-italic">
                            Yazılım Deposu sitesi üzerinden okulumuzda yapılacak Hackathon yarışması için duyuru ve sorularınız için linki tıklamanız yeterli.
                        </p>
                        <ul>
                            <li><i class="icofont-card"></i> Sorularınız için:<a href="/Home/DuyuruBasvuruları/"><i class="icofont-arrow-right"></i>Ayrıntılı Bilgi</a></li>
                        </ul>

                    </div>
                </div>

            </div>

</section>

  
    </main>

</body>

