
@{
    ViewBag.Title = "Hackathon";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<body>
    <header id="header" class="fixed-top">
        <div class="container">

            <div class="logo float-left ">
                <h1 class="text-light"><a href="#"><span>Yazılım Deposu</span></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav class="nav-menu float-right d-none d-lg-block">
                <ul>
                    <li><a href="/Home/Index/">Ana Sayfa</a></li>
                    <li><a href="/Home/Hakkimizda/">Hakkımızda</a>
                    <li><a href="/Home/Hizmetlerimiz/">Hizmetlerimiz</a></li>
                    <li><a href="/Home/Iletisim/">İletişim</a></li>
                    <li><a href="/Home/Blog/">Blog</a></li>
                    <li class="active"><a href="/Home/Hackathon/">Hackathon</a></li>
                    <li class="drop-down">
                        <a href="">Dersler</a>
                        <ul>
                            <li><a href="#"></a></li>
                            <li class="drop-down">
                                <a href="#">Algoritma Programlama</a>
                                <ul>
                                    <li><a href="#">Ersin Arslan</a></li>
                                    <li><a href="#">Mansur Alp Toçoğlu</a></li>
                                    <li><a href="#">Yusuf Özçevik</a></li>

                                </ul>
                            </li>
                            <li><a href="#">İleri Web Programlama</a></li>
                            <li><a href="#">Java</a></li>
                            <li><a href="#">Derin Öğrenme</a></li>
                        </ul>
                    </li>




                    <li><a href="/Home/DuyuruBasvuruları/">Duyuru Başvuruları</a></li>
                </ul>
            </nav><!-- .nav-menu -->

        </div>


    </header>

   
</body>

