
@{
    ViewBag.Title = "Hackathon";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<body>
    <header id="header" class="fixed-top">
        <div class="container">

            <div class="logo float-left ">
                <h1 class="text-light"><a href="#"><span>Yazılım Deposu</span></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav class="nav-menu float-right d-none d-lg-block">
                <ul>
                    <li><a href="/Home/Index/">Ana Sayfa</a></li>
                    <li><a href="/Home/Hakkimizda/">Hakkımızda</a>
                    <li><a href="/Home/Hizmetlerimiz/">Hizmetlerimiz</a></li>
                    <li><a href="/Home/Iletisim/">İletişim</a></li>
                    <li><a href="/Home/Blog/">Blog</a></li>
                    <li class="active"><a href="/Home/Hackathon/">Hackathon</a></li>
                    <li class="drop-down">
                        <a href="">Dersler</a>
                        <ul>
                            <li><a href="#"></a></li>
                            <li class="drop-down">
                                <a href="#">Algoritma Programlama</a>
                                <ul>
                                    <li><a href="#">Ersin Arslan</a></li>
                                    <li><a href="#">Mansur Alp Toçoğlu</a></li>
                                    <li><a href="#">Yusuf Özçevik</a></li>

                                </ul>
                            </li>
                            <li><a href="#">İleri Web Programlama</a></li>
                            <li><a href="#">Java</a></li>
                            <li><a href="#">Derin Öğrenme</a></li>
                        </ul>
                    </li>




                    <li><a href="/Home/DuyuruBasvuruları/">Duyuru Başvuruları</a></li>
                </ul>
            </nav><!-- .nav-menu -->

        </div>


    </header>

    <main id="main">
        <!-- ======= About Us Section ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>HACKATHON HAKKINDA</h2>
                    <ol>
                        <li><a href="/Home/Index/">AnaSayfa</a></li>
                        <li><a href="/Home/Hackathon/">Hackathon</a></li>
                    </ol>
                </div>

            </div>
        </section><!-- End About Us Section -->

        <section class="features">
            <div class="container">

                <div class="row">
                    <div class="col-lg-9">
                        <img src="~/Uploads/Blog/9e0873ef85e19973b9f42cd114b755e076590dc1 (1000 x 600).jpg" class="img-fluid" alt"">
                    </div>

                </div>

                <div class="section-title">
                    <br />
                    <h2 style="color:#E21C21">Hackathon Nedir?</h2>
                    <p>En basit haliyle bir kodlama yarışmasıdır. “Hack day”, “Hackfest”, “Code fest”, “Code camp” gibi isimlerle de karşımıza çıkabilir. Hackathon genellikle yazılım geliştiricilerinin, arayüz tasarımcılarının ve bilgisayar programcılarının 2-5 kişilik gruplar halinde bir araya gelerek 1-2 gün boyunca çalışarak yeni bir proje geliştirdikleri yarışmadır.</p>

                </div>

                <div class="row" data-aos="fade-up">
                    <div class="col-md-5">
                        <img src="~/Uploads/Blog/drone3-960x640.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 pt-4">
                        <h3 style="color:#E21C21">Hackathon Neden Düzenlenir?</h3>
                        <p>
                            Hackhatkon, sadece ürün geliştirilmesi, şirket tanıtımı veya iş alım için düzenlenmez. Özellikle Facebook Hackathon gibi örneklerinde yalnızca bu amaç yoktur. Bununla beraber teknolojik ürününüzle ilgili farklı bakış açıları kazanabilirsiniz.Facebook, özellikle bu alandaki hackathonları sayesinde birçok özelliğini bu şekilde kazanmıştır.
                        </p>
                        <ul>
                            <li><i class="icofont-check"></i> Ürününüzde yazılım ya da donanım eksiklerini görüp, bu problemleri nasıl çözeceğinizi bu yarışmalarla çözebilirsiniz.</li>
                            <li><i class="icofont-check"></i>  Hackathona katılan takımlardan ürününüzle ilgili belki daha önce düşünmediğiniz fikirler edinebilirsiniz.</li>
                        </ul>
                    </div>
                </div>

            </div>
        </section>

  
    </main>

</body>

