
@{
    ViewBag.Title = "Hackathon";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<body>
    <header id="header" class="fixed-top">
        <div class="container">

            <div class="logo float-left ">
                <h1 class="text-light"><a href="#"><span>Yazılım Deposu</span></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav class="nav-menu float-right d-none d-lg-block">
                <ul>
                    <li><a href="/Home/Index/">Ana Sayfa</a></li>
                    <li><a href="/Home/Hakkimizda/">Hakkımızda</a>
                    <li><a href="/Home/Hizmetlerimiz/">Hizmetlerimiz</a></li>
                    <li><a href="/Home/Iletisim/">İletişim</a></li>
                    <li><a href="/Home/Blog/">Blog</a></li>
                    <li class="active"><a href="/Home/Hackathon/">Hackathon</a></li>
                    <li><a href="/Home/DuyuruBasvuruları/">Duyuru Başvuruları</a></li>
                </ul>
            </nav><!-- .nav-menu -->

        </div>


    </header>

    <main id="main">
        <!-- ======= About Us Section ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>HACKATHON HAKKINDA</h2>
                    <ol>
                        <li><a href="/Home/Index/">AnaSayfa</a></li>
                        <li><a href="/Home/Hackathon/">Hackathon</a></li>
                    </ol>
                </div>

            </div>
        </section><!-- End About Us Section -->

        <section class="service-details">
            <div class="container">

                <div class="row">
                    <div class="container-fluid">
                        <img src="~/Uploads/Blog/9e0873ef85e19973b9f42cd114b755e076590dc1 (1000 x 600) (1400 x 400).jpg" class="img-fluid" alt"">
                    </div>

                </div>

                <div class="section-title">
                    <br />
                    <h2 style="color:#E21C21">Hackathon Nedir?</h2>
                    <p>En basit haliyle bir kodlama yarışmasıdır. “Hack day”, “Hackfest”, “Code fest”, “Code camp” gibi isimlerle de karşımıza çıkabilir. Hackathon genellikle yazılım geliştiricilerinin, arayüz tasarımcılarının ve bilgisayar programcılarının 2-5 kişilik gruplar halinde bir araya gelerek 1-2 gün boyunca çalışarak yeni bir proje geliştirdikleri yarışmadır.</p>

                </div>

                <div class="row">
                    <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="card">
                            <div class="card-img">
                                <img src="~/Uploads/Blog/1a9ee07c-647d-4f1a-ab6b-368b506e3d5a (600 x 400).jpg" alt="...">
                            </div>
                            <div class="card-body">
        
                                <h5 class="card-title">Hackathon Neden Düzenlenir?</h5>
                                <a href="/Home/BlogDetay/73" class="btn-get-started animate__animated animate__fadeInUp">DAHA FAZLASI</a>
                               
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="card">
                            <div class="card-img">
                                <img src="~/Uploads/Blog/24114 (600 x 400).jpg" alt="...">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Hackathon’a Kimler Katılabilir?</h5>
                                <a href="/Home/BlogDetay/77" class="btn-get-started animate__animated animate__fadeInUp">DAHA FAZLASI</a>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="card">
                            <div class="card-img">
                                <img src="~/Uploads/Blog/internet-for-hackatons-1024x480 (960 x 640).jpg" alt="...">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Hackathon'a Neden Katılmalı?</h5>
                                <a href="/Home/BlogDetay/78" class="btn-get-started animate__animated animate__fadeInUp">DAHA FAZLASI</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="card">
                            <div class="card-img">
                                <img src="~/Uploads/Blog/691d70b5-bad0-4d1f-a43f-46aea483accc (600 x 400).jpg" alt="...">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Hackathon’da Bir Gün Nasıl Geçer?</h5>
                                <a href="/Home/BlogDetay/79" class="btn-get-started animate__animated animate__fadeInUp">DAHA FAZLASI</a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                            <div class="card">
                                <div class="card-img">
                                    <img src="~/Uploads/Blog/regtech (600 x 400).jpg" alt="...">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Hackathon Yarışması Hakkında</h5>
                                    <a href="/Home/BlogDetay/80" class="btn-get-started animate__animated animate__fadeInUp">DAHA FAZLASI</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                            <div class="card">
                                <div class="card-img">
                                    <img src="~/Uploads/Blog/fd14f1d65e47f8eea708406db5645d23 (600 x 370) (500 x 315) (600 x 400).jpg" alt="...">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Hackathon Türkiye Duyuruları</h5>
                                    <ul>
                                        <li><i class=""></i> Hackathon Türkiye: <a href="https://hackathonturkiye.com/"><i class="icofont-arrow-right"></i>Ayrıntılı Bilgi</a></li>
                                    </ul>
                                    <a href="/Home/BlogDetay/81" class="btn-get-started animate__animated animate__fadeInUp">DAHA FAZLASI</a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                            <div class="card">
                                <div class="card-img">
                                    <img src="~/Uploads/Blog/openaihackathon-1.jpg" />
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">MCBU Yapılan Hackathon Örnekleri</h5>

                                    <ul>
                                        <li><i class="icofont-maestro"></i> Uçtan Uca Yapay Zeka Hekatonu:<a href="~/Uploads/Blog/E2EAIHackathonLinkedIn.pdf"><i class="icofont-arrow-right"></i>Ayrıntılı Bilgi</a></li>
                                        <li><i class="icofont-magic"></i> MIP Hekaton: <a href="https://miphackathon.mcbu.edu.tr/"><i class="icofont-arrow-right"></i>Ayrıntılı Bilgi</a></li>
                                    </ul>
                                    <a href="/Home/BlogDetay/82" class="btn-get-started animate__animated animate__fadeInUp">DAHA FAZLASI</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                            <div class="card">
                                <div class="card-img">
                                    <img src="~/Uploads/Blog/1d9ec363-00c4-43d7-811c-97d825980229 (600 x 400).jpg" alt="...">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Hackathon'a Katılanların Maceraları</h5>
                                    <a href="/Home/BlogDetay/83" class="btn-get-started animate__animated animate__fadeInUp">DAHA FAZLASI</a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="card">
                            <div class="card-img">
                                <img src="~/Uploads/Blog/6dcafb8fcaf60c99b0f699e272725dac (1) (600 x 400).jpg" alt="...">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Dünyada Hackathon Hakkında?</h5>
                                <ul>
                                    <li><i class="icofont-kakaotalk"></i> Kaggle:<a href="https://www.kaggle.com/search?q=Hackathon"><i class="icofont-arrow-right"></i>Ayrıntılı Bilgi</a></li>
                                    <li><i class="icofont-macbook"></i> Medium:<a href="https://medium.com/search?q=hackathon"><i class="icofont-arrow-right"></i>Ayrıntılı Bilgi</a></li>
                                    <li><i class="icofont-github"></i> Github:<a href="https://github.com/search?q=hackathon"><i class="icofont-arrow-right"></i>Ayrıntılı Bilgi</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="card">
                            <div class="card-img">
                                <img src="~/Uploads/Blog/KpEHdqLoAvEQnKt-1600x900-noPad (600 x 400).jpg" />
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Okulumuzdaki Hackathon Duyuruları İçin</h5>
                                <ul>
                                    <li><i class="icofont-card"></i> Sorularınız için:<a href="/Home/DuyuruBasvuruları/"><i class="icofont-arrow-right"></i>Ayrıntılı Bilgi</a></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </main>

</body>

